.infoContainer {

  flex: 5 1;
}

.postContent{
  gap: 60px;
  display: flex;
}

.imageThumbnail {
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  height: 450px;
  width: 600px;
}

.textContainer {
  flex: 2;
}

.userContainer {
  flex: 2;
  margin-bottom: 20px;
}

.title {
  font-size: 64px;
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 16px;
  font-weight: 500;
}



.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: fill;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description p {
  word-break: break-all;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 28px;
  }

  .description p {
    font-size: 18px;
  }

  .imageThumbnail {
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    object-fit: fill;
    height: 250px;
  width: 100%;
  }

}