.container {
    margin-top: 20px;
}

.front {
    width: 300px;
    height: 200px;
}

.flipList {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
  
  
.selectInputLesson{
    margin-right: 10px;
    width: 30%;
    border: 2px solid #0a0f1b;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    background-color:  #0a0f1b;
    color: #ddd;
  }

  .selectInputType{
    margin-right: 10px;
    width: 30%;
    border: 2px solid #0a0f1b;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    background-color:  #0a0f1b;
    color: #ddd;
  }
  
.skeletonBody{
    margin-top: 15px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr afr;
    padding-bottom: 10px;
  }
  
  .skeletonItem{
    width: 350px;
    height: 250px;
  }

@media screen and (max-width: 1536px) and (min-width: 1280px) {

    .skeletonBody{
        margin-top: 15px;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 10px;
      }
    
      .skeletonItem{
        width: 350px !important;
        height: 250px;
      }
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 640px) {
    .selectInputLesson{
        width: 100%;
    }

    .selectInputType{
      width: 100%;
  }
    .flipList {
        width: 100%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr ;
    }

    .flipList div{
      width: 100%;
    }

    .skeletonItem{
        width: 100%;
        height: 250px;
      }
      
      .skeletonBody{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr ;
        padding-bottom: 10px;
      }
}