.container {
  margin-top: 20px;
}


.searchIcon{
  border: 2px solid #17A2B8;
  background-color: #17A2B8;
  font-size: 18px;
  padding: 9px;
  color: #fff;
}

.searchInput {

  width: 50%;
  border: 2px solid #1f273a;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #0f172a;
  color: #ddd;
}

.selectInput{
  margin-left: 40px;
  width: 30%;
  border: 2px solid #0a0f1b;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  background-color:  #0a0f1b;
  color: #ddd;
}


.quizyList {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

.qCard {
  background-color: var(--softBg);
  padding: 20px;
  gap: 20;
  width: 60%;
}

.quizLink {
  margin-bottom: 10px;
}


.skeletonBody{
  gap: 30px;
  padding-bottom: 10px;
}

.skeletonItem{
  width: 60%;
  height: 60px;
}

.noResults{
  margin-top: 10px;
}

@media screen and (max-width: 1536px) and (min-width: 1280px) {


  .quizyList iframe {
    width: 600px;
    height: 330px;

  }
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 640px) {

  .selectInput{
    width: 100%;
    margin: 0;
  }
  .searchInput {
    width: 85%;
  }

  .searchIcon{
    width: 15%;
  }
  

  .quizyList {
    grid-template-columns: 1fr;


  }

  .quizyList iframe {
    width: 100%;
    height: 200px;

  }

  .qCard {
    background-color: #1D1D2D;
    padding: 20px;
    gap: 20;
    width: 100%;
  }
  
  .skeletonItem{
    width: 100%;
    height: 60px;
  }

}