.title{
  width: fit-content;
  background-color: coral;
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
  text-align: center;
  text-transform: capitalize;
}

.content{
  margin-top: 20px;
  display: flex;
  gap: 100px;
}

