.container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  
}


.searchIcon{
  border: 2px solid #17A2B8;
  background-color: #17A2B8;
  font-size: 18px;
  padding: 9px;
  color: #fff;
}

.searchInput {

  width: 50%;
  border: 2px solid #1f273a;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #0f172a;
  color: #ddd;
}


.chatcat {
  color: darkkhaki;
}

.chatlang {
  color: mediumpurple;
}


.skeletonBody{
  padding-bottom: 10px;
}

.skeletonItem{
  width: 50%;
  padding-top: 15px;
}

.chatCard{
  width: 50%;
  padding: 10px;
  background-color: #0a0f1b;
}


@media screen and (max-width: 1536px) and (min-width: 1280px) {

}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 640px) {

  .searchInput {
    width: 85%;
  }

  .searchIcon{
    width: 15%;
  }

  .container {
    margin-top: 10px;
  }

  .chatCard{
    width: 100%;
    
  }

  .skeletonItem{
    width: 100%;
  }
}