.container{
  flex:5;
 
}

.title{
  margin-top: 30px;
  margin-bottom: 20px;
}


.searchIcon{
  border: 2px solid #17A2B8;
  background-color: #17A2B8;
  font-size: 18px;
  padding: 9px;
  color: #fff;
}

.searchInput {

  width: 50%;
  border: 2px solid #1f273a;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #0f172a;
  color: #ddd;
}

.paginationBar{
  display: flex;
  
}

.posts{
  margin-top: 15px;
}



.card{
  width: 60%;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--softBg) ;
  margin-bottom: 20px;
}

.qParagraph{
  margin-top: 10px;
}

.qViews{
  margin-top: 20px;
}

.qLink{
  font-weight: bold;
}

@media screen and (max-width: 1536px) and (min-width: 1280px)  {

 
}

@media screen and (max-width: 1280px) {
  

}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 640px) {

  .searchInput {
    width: 85%;
  }

  .searchIcon{
    width: 15%;
  }
  
  .card{
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    background-color:#1D1D2D ;
    margin-bottom: 20px;
  }

}