
.testimonial {
  margin-top: 100px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
}
.emoj{
  font-size: 30px;
}
.testiBox{
  margin-top: 20px;
  margin-right: 50px;
  background-color: #0a0f1b;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.testimonialTitle {
  
  padding: 80px 50px 5px 0px;
  font-size: 46px;
  color: #127C71;
}

.testimonialDes {
  
  font-weight: 500;
  font-size: 20px;
  padding: 30px 30px 25px 0px;
  
}

.testimonialBtn {
  background-color: #127C71;
  color: #fff;
  margin: 30px 30px 25px 50px;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  border: none;

}

.testimonialGrid {
  padding: 10px 30px 25px 0px;
  display: grid;

  grid-template-columns: 1fr 6fr;
}

.studentImage {
  margin-top: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.student{
  width: 80%;
  margin-top: 20px;
}




@media screen and (max-width: 1536px) and (min-width: 1280px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 640px) {

  .testimonial {
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }

  .testimonialTitle {
    padding: 50px 50px 5px 10px;
    font-size: 40px;
    color: #127C71;
  }

  .testimonialImg{
    margin-top: 30px;
  }

  .testimonialDes {
    font-size: 16px;
    padding: 30px 30px 15px 10px;
  }

  .testimonialBtn {
    background-color: #127C71;
    color: #fff;
    margin: 30px 30px 25px 50px;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    border: none;

  }

  .testimonialGrid {
    padding: 10px 30px 25px 10px;
    display: grid;

    grid-template-columns: 1fr 3fr;
  }

  .testiBox{
    width: 100%;
    margin-top: 20px;
    margin-right: 50px;
    background-color: #1f273a;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
  }
  
  .studentImage {
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
  .student{
    margin-top: 20px;
    font-weight: 600;
    font-size: 12px;
  }


}