.container{
  position: relative;
  display: flex;
  flex-direction: column;
}

.select{
  width: 50%;
  border: 2px solid #0a0f1b;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  background-color:  #0a0f1b;
  color: #ddd;
}

.editor {
  display: block;
  gap: 20px;
  height: 700px;
  position: relative;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px
}

.addButton {
  background-color: #0a0f1b;
  border-color: #fff;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.input{
  margin-top: 20px;
  padding: 10px;
  font-size: 34px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder{
  color: #b3b3b1;
}

.textArea {
  margin-top: 10px;
  width: 100%;
}

.publish{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
@media screen and (max-width: 1536px) and (min-width: 1280px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 640px) {

  .select{
    width: 100%;
    border: 2px solid #0a0f1b;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    background-color:  #0a0f1b;
    color: #ddd;
  }

  .input{
    margin-top: 30px;
    padding: 10px;
    font-size: 34px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
  }

  .textArea {
    margin-top: 10px;
  }
}