
.newsList{
  margin-top: 30px;
}
.searchInput {
margin-top: 30px;
  width: 50%;
  border: 2px solid #1f273a;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  background-color: #0f172a;
  color: #ddd;
}

.skeletonItem{
  margin-bottom: 10px;
}

.searchIcon{
  border: 2px solid #17A2B8;
  background-color: #17A2B8;
  font-size: 18px;
  padding: 9px;
  color: #fff;
}

.newsGrid{
  background-color: #0a0f1b;
  padding: 8px;
  margin-top: 5px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.docLink{
 word-break: break-all;
 text-decoration: underline;
 color: cadetblue;
}

hr.horiLine {
  border: 0;
  border-top: 2px solid #0f172a;
  padding-bottom: 10px;
  
}

@media screen and (max-width: 1536px) and (min-width: 1280px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 640px) {
 
  .searchInput {
    width: 85%;
  }

  .searchIcon{
    width: 15%;
  }
  .newsGrid{
    width: 100%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .newsList{
    margin-top: 20px;
  }
}