.checkboxWrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #007a7e;
  outline: none;
  cursor: pointer;
}


.checkLabel {
  color: #17a2b8;
  font-weight: 500;
  margin-left: 5px;
  font-size: 18px;
}

.checkboxWrapper input[type="checkbox"]:checked {
  background-color: #007a7e;
  position: relative;
}

.checkboxWrapper input[type="checkbox"]:checked::before {
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

.checkboxWrapper input[type="checkbox"]:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkboxWrapper input[type="checkbox"]:disabled + span {
  color: #c0c0c0;
}

