
.searchInput{
  width: 100%;
  border: 2px solid #1f273a;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #0f172a;
  color: #ddd;
}

.container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.imageContainer {
  flex: 1;
  height: 100px;
  position: relative;

}

.linkMuted{
  text-decoration: none;
  cursor: default;
}

.image {
  width: 100px;
  
}

.textContainer {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.desc {
 
  font-weight: 300;
  color: var(--softTextColor);
}

.views{
  margin-right: 5px;
  font-size: 14px;
}

.mobileCard {
  display: flex;
  width: 100%;
}

.mobileImageContainer {
  flex: 4;
  height: 100px;
  position: relative;
}

.mobileTextContainer {
  flex: 8;
  display: flex;
  flex-direction: column;
  margin-left: 10px
}

.dateMobile {
  color: gray;
  font-size: 12px;
}

.categoryMobile {
  color: crimson;
  font-weight: 500;
  font-size: 12px;
}

.descMobile {
  font-size: 12px;
  font-weight: 300;
  color: var(--softTextColor);
}

.viewsMobile{
  margin-right: 5px;
  font-size: 12px;
}



@media screen and (max-width: 1536px) and (min-width: 1280px)  {

  .mobileCard {
    display: none;
  }

  .mobileImageContainer {
    display: none;
  }

  .mobileTextContainer {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  

}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 640px) {

  .container{
    margin-top: 10px;
  }

  .imageContainer {
    display: none;
  }

  .textContainer{
    display: none;
  }

  .image {
    object-fit: unset;
  }



}