.dinput{
    background-color: antiquewhite;
    width: 100%;
    display: block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dbutton{
    background-color: #775aec;
    padding: 10px;
    width: 100%;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}